<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="CommerceAP">
		
		<listeners>
			<listener class-name="com.CommerceAP.utilities.Reporting" />
		</listeners>
	
	<test name="CommerceAP Test">
		<parameter name="browser" value="chrome" />
		<!-- parameter name="browser" value="firefox" />  -->
		
		<classes>
			
			<!--  class name="com.CommerceAP.TestCases.TC_LoginTest_001" />-->
			<!--  class name="com.CommerceAP.TestCases.TC_AddProducts_002" /> -->
			<!--  class name="com.CommerceAP.TestCases.TC_AddCatagories_003" /> -->
			<!-- class name="com.CommerceAP.TestCases.TC_AddOrder_004" />-->
			<!-- class name="com.CommerceAP.TestCases.TC_Shipments_005" />  -->
			<!--  class name="com.CommerceAP.TestCases.TC_AddCoustomers_006" /> -->
			<!--  class name="com.CommerceAP.TestCases.TC_AddNewVendors_007" />-->
			<class name="com.CommerceAP.TestCases.TC_AddDiscounts_008" />
			
			
			
		</classes>

	</test>

</suite>